#filter {
    float: left;
    display: none;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    border: 2px solid #ccd8ff;
    margin-bottom: 10px;
    width: auto;
    min-height: 200px;
}

#filter button {
    cursor: pointer;
}

#filterButton {
    margin-bottom: 5px;
    font-weight: bold;
    background-color: white;
    border: 2px solid #0099ff;
    border-radius: 4px;
    height: 30px;
    width: 150px;
    text-align: center;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

#filterButton:hover {
    background-color: #0099ff;
    color: white;
}

#filterButton:active {
    color: black;
    outline: none;
}

.filterItemContainer {
    overflow: hidden;
    margin-bottom: 3px;
}

.filterItemContainer div {
    float: left;
    margin-right: 3px;
}

.filterItemContainer div select {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 13px;
    height: 21px;
    max-width: 200px;
}

.filterItemContainer div input {
    padding-left: 2px;
    height: 17px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 196px;
    font-size: 13px;
}

.filterItemContainer button {
    font-size: 15px;
    border: 0;
    background-color: white;
}

.filterItemContainer button:active {
    outline: none;
}

.inputFilterKeyword {
    width: 50px;
}