@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,900&subset=latin-ext');

* {
    font-family: 'Lato', sans-serif;
}

table {
    border-collapse: collapse;
}

table td {
    border: 1px solid white;
}

#numberOfItem {
    margin-bottom: 5px;
}

